<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <h1 class="text-center">Listo para un nuevo entrenamiento?</h1>
        <br />
        <img src="img/start.png" style="width:70%" class="center-block"/>
        <br />

        <div id="start" class="row">

            <div ng-repeat="workout in workouts | orderBy:'title'" class="workout tile" ng-click="goto(workout)">

                <div class="title">{{workout.title}}</div>

            </div>

        </div>

    </div>
    <div class="col-sm-3"></div>
</div>