<div id="workout-container">

    <div class="row">
        <h2 class="col-sm-8 col-sm-offset-1">{{workout.title||'Nueva rutina'}} {{formWorkout.$dirty?'*':''}}
            <span ng-show="canDeleteWorkout()" class="pull-right glyphicon glyphicon-trash text-danger" title="Eliminar rutina" ng-confirm="deleteWorkout()" ng-confirm-message="Está seguro de que quiere eliminar esta rutina?"></span>
        </h2>
    </div>

    <form class="row" name="formWorkout" novalidate>

        <div id="exercises-list" class="col-sm-4 col-sm-offset-1">

            <div ng-repeat="exercise in workout.exercises" class="exercise-item">
                <div ng-include="'workout-exercise-tile'"></div>
            </div>

            <span name="exerciseCount" ng-model="workout.exercises.length"></span>

            <div class="alert alert-danger" ng-show="hasError(formWorkout.exerciseCount, formWorkout.exerciseCount.$error.count)">
                La rutina debe tener al menos un ejercicio.
            </div>

        </div>

        <div id="exercise-description" class="col-sm-1">
            {{selectedExercise.description}}
        </div>

        <div id="workout-data" class="col-sm-3">

            <div class="form-group row" ng-class="{'has-error':formWorkout.workoutName.$invalid}">
                <label for="workout-name">Nombre:</label>
                <input type="text" name="workoutName" class="form-control" id="workout-name" placeholder="Introduce el nombre de la rutina" ng-model="workout.name" ng-pattern="/^[A-Za-z0-9]{1,15}$/" required>
                <label ng-show="hasError(formWorkout.workoutName, formWorkout.workoutName.$error.required)" class="text-danger">El nombre de la rutina es obligatorio</label>
                <label ng-show="hasError(formWorkout.workoutName, formWorkout.workoutName.$error.pattern)" class="text-danger">Sólo se permiten 15 caracteres alfanuméricos</label>
            </div>

            <div class="form-group row" ng-class="{'has-error':formWorkout.title.$invalid}">
                <label for="workout-title">Título:</label>
                <input type="text" name="title" class="form-control" id="workout-title" placeholder="Introduce el título de la rutina" ng-model="workout.title" ng-minlength="5" ng-maxlength="20" required>
                <label ng-show="hasError(formWorkout.title, formWorkout.title.$error.required)" class="text-danger">El título de la rutina es obligatorio</label>
                <label ng-show="hasError(formWorkout.title, formWorkout.title.$error.minlength || formWorkout.title.$error.maxlength)" class="text-danger">El título debe tener más de 5 caracteres y menos de 20</label>
            </div>

            <div class="form-group row">
                <label for="workout-description">Description:</label>
                <textarea name="description" class="form-control" id="workout-description" placeholder="Introduce la descripción de la rutina" ng-model="workout.description"></textarea>
            </div>

            <div class="form-group row" ng-class="{'has-error':formWorkout.restBetweenExercise.$error.number}">

                <label for="workout-rest">Tiempo de descanso (seg.):</label>
                <input type="number" name="restBetweenExercise" class="form-control" id="workout-rest" placeholder="Tiempo en segundos del período de descanso" ng-model="workout.restBetweenExercise" min="1" ng-pattern="/^-?\d+$/" required>

                <!-- esta era la manera de mostrar los mensajes de error en las versiones previas a la 1.3 -->

                <!--
                <label ng-show="formWorkout.restBetweenExercise.$dirty && formWorkout.restBetweenExercise.$error.required" class="text-danger">Time duration is required.</label>
                <label ng-show="formWorkout.restBetweenExercise.$dirty && formWorkout.restBetweenExercise.$error.number" class="text-danger">Time duration should be numeric.</label>
                <label ng-show="formWorkout.restBetweenExercise.$dirty && formWorkout.restBetweenExercise.$error.min" class="text-danger">Only positive integer value allowed.</label>
                <label ng-show="formWorkout.restBetweenExercise.$dirty && formWorkout.restBetweenExercise.$error.pattern" class="text-danger">Only integer value allowed.</label>
                -->

                <!-- a partir de la versión 1.3 se introdujo una mejor forma de mostrar mensajes de error mediante ng-messages -->

                <div ng-messages="formWorkout.restBetweenExercise.$error" ng-if="isDirty(formWorkout.restBetweenExercise)">
                    <label ng-message="required" class="text-danger">La duración del descanso es obligatoria</label>
                    <label ng-message="number" class="text-danger">La duración debe ser un valor numérico</label>
                    <label ng-message="min" class="text-danger">La duración debe ser un número positivo</label>
                    <label ng-message="pattern" class="text-danger">La duración debe ser un número entero</label>
                </div>

            </div>

            <div class="form-group row">
                <label>Num. ejercicios:</label>
                <p class="form-control-static badge">{{workout.exercises.length}}</p>
            </div>

            <div class="form-group row">
                <label>Duración total:</label>
                <p class="form-control-static badge">{{workout.totalWorkoutDuration() | secondsToTime}}</p>
            </div>

            <div class="row">

                <button class="btn pull-left submit-btn" ng-class="{'btn-default':formWorkout.$valid,'btn-warning':!formWorkout.$valid}" ng-click="save()"
                        popover="{{formWorkout.$invalid ? 'El formulario contiene errores' : null}}" popover-trigger="mouseenter">Guardar</button>

                <button class="btn btn-primary pull-left" ng-click="reset()">Reset</button>

            </div>

        </div>

    </form>

</div>

<script type="text/ng-template" id="workout-exercise-tile">

    <div class="exercise tile" ng-click="selectedExercise.description=exercise.details.description">

        <div class="title">
            {{exercise.details.title}}
            <div class="pull-right" ng-click="removeExercise(exercise)"><span class="glyphicon glyphicon-trash"></span></div>
        </div>

        <div class="index"><span>{{$index+1}}</span></div>

        <div class="main">

            <div class="image">
                <img ng-src="{{exercise.details.image ? exercise.details.image : 'img/running.png'}}"/>
            </div>

            <div class="details">

                <ng-form name="formDuration">

                    <select class="select-duration form-control" name="duration" ng-model="exercise.duration" ng-options="duration.value as duration.title for duration in durations" required>

                        <option value="">Select duration</option>

                    </select>

                    <label ng-show="hasError(formDuration.duration, formDuration.duration.$error.required)"
                           class="text-danger">Time duration is required</label>

                </ng-form>

            </div>

        </div>

        <div class="order">
            <button class="btn btn-info" ng-click="moveExerciseTo(exercise,0)"><span class="glyphicon glyphicon-upload"></span></button>
            <button class="btn btn-info" ng-click="moveExerciseTo(exercise,$index-1)"><span class="glyphicon glyphicon-chevron-up"></span></button>
            <button class="btn btn-info" ng-click="moveExerciseTo(exercise,$index+1)"><span class="glyphicon glyphicon-chevron-down"></span></button>
            <button class="btn btn-info" ng-click="moveExerciseTo(exercise,workout.exercises.length-1)"><span class="glyphicon glyphicon-download"></span></button>
        </div>

    </div>

</script>